$font-default : 'Baloo Thambi 2', cursive
$title-color: white

// Small screen 
@mixin for-phone-only 
  @media only screen and (max-width: 599px) 
    @content
// Large screen
@mixin for-tablet-only 
  @media only screen and (min-width: 599px) 
    @content


body 
  color: black
  background-color: white
  margin: 0 !important
  padding: 0
  font-family: $font-default

  ::-webkit-scrollbar 
    width: 0.25rem

  ::-webkit-scrollbar-track 
    background: #1e1e24

  ::-webkit-scrollbar-thumb 
    background: #6649b8

.success
  color: green

.fail
  color: red

h1,h2,h3,h4,h5,h6 
  font-weight: 700 !important
  font-family: $font-default
  
  

a
    text-decoration: none !important
    color: $title-color !important

img 
  max-width: 100%
  height: auto

.border-bottom
  border-bottom: 2px dashed #2a2e35

.dark-theme 
  background: #12181b
  color: #b2becd
  transition: all .3s ease