$font-default : 'Open Sans', sans-serif
$title-color: white
body 
  color: black
  background-color: white
  margin: 0 !important
  padding: 0
  font-family: $font-default

  ::-webkit-scrollbar 
    width: 0.25rem

  ::-webkit-scrollbar-track 
    background: #1e1e24

  ::-webkit-scrollbar-thumb 
    background: #6649b8

.success
  color: green

.fail
  color: red

h1,h2,h3,h4,h5,h6 
  font-weight: 800
  font-family: $font-default
  

h1,h2,h3,h4,h5,h6 
  a
    text-decoration: none
    color: $title-color

img 
  max-width: 100%
  height: auto